<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <img src="logo.png" alt="Logo de La Avenida">
            <h1 class="navbar-title">La Avenida</h1>
        </div>
        <ul class="navbar-menu">
            <li class="navbar-item"><a href="inicio.html">Inicio</a></li>
            <li class="navbar-item"><a href="menu.html">Menú</a></li>
            <li class="navbar-item"><a href="reservas.html">Reservas</a></li>
            <li class="navbar-item"><a href="contacto.html">Contacto</a></li>
        </ul>
    </div>
</nav>

            </div>
        </div>
    </nav>
</body>
</html>
